//- - var url = #{redirectLink};
doctype=html 
html 
    head 
        title Express.js + Pug 
        style 
            include style.css
    body.max-w-full.w-screen.flex.justify-center.items-center
        .wrapper
            div.ticket-container
                .content 
                    .ticket-logo 
                        img(src="https://storage.kartjis.id/public-images/kartjis-logo.png", alt="logo")
                    .ticket-title 
                        h1 Yay, kamu berhasil mendapatkan kartjis! 
                        
                    .ticket-salutation
                        p 
                            | 
                            | Halo 
                            span.customer-name #{name}
                        p Terima kasih sudah memesan kartjis "#{ticketName}" di Kartjis 
                    
                    .ticket-more-info 
                        p Proses pemesanan dan pembayaran kamu telah kami terima. Kartjis untuk event ini sudah kami terbitkan.

                    .ticket-detail 
                        table.tabel-style 
                            tr
                                td.table-data-style Status Pesanan
                                td.table-data-style Paid
                            tr
                                td.table-data-style Nomor Pesanan 
                                td.table-data-style #{orderNumber}
                            tr
                                td.table-data-style Tanggal Pesanan
                                td.table-data-style #{orderDate}
                            tr
                                td.table-data-style Metode Pembayaran 
                                td.table-data-style #{paymentMethod}
                    .button-part 
                        a(href=`${redirectLink}`)   Lihat E-Kartjis 
                    .company-info 
                        p(id="company-name") PT hexa digitech house
                        p Ruko Delft lt 3 No.18-19
                        p Losari, Kec. Mariso, Kota Makassar
                        p Sulawesi Selatan
                    .company-contact 
                        p Support :
                            a(href='mailto:admin@kartjis.id') admin@kartjis.id
                        p Web :
                            a(href='https://kartjis.id') www.kartjis.id
                        p Instagram :
                            a(href='https://www.instagram.com/kartjis.id') @kartjis.id
